<nav class="bg-dark text-light h-100 contentnav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-light" href="/home/"><i class="fas fa-home"></i> Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/home/ventas"><i class="fas fa-shopping-cart"></i> Ventas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/home/productos"><i class="fas fa-box"></i> Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/home/marcas"><i class="fas fa-star"></i> Marcas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/home/modelos"><i class="fas fa-shoe-prints"></i> Modelo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/home/categorias"><i class="fas fa-tags"></i> Categoría</a>
    </li>
    <!-- Dropdown para "Más" -->
    <li class="nav-item dropdown">
      <a class="nav-link text-light dropdown-toggle" href="#" id="dropdownMas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-plus"></i> Más
      </a>
      <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMas">
        <li><a class="dropdown-item text-light" href="/home/corte-caja"><i class="fas fa-cash-register"></i> Corte de caja</a></li>
        <li><a class="dropdown-item text-light" href="/home/proveedores"><i class="fas fa-truck"></i> Proveedores</a></li>
      </ul>
    </li>
  </ul>
</nav>
