<div class="container ">
  <!-- Tabla con Angular Material -->
  <div class="card">
    <div class="card-body">

      <p class="card-title">Agrega, edita y elimina datos de las Marcas.</p>

      <button mat-flat-button data-bs-toggle="modal" data-bs-target="#modalAltaMarca" (click)=" descartarCambio()">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
        Nueva Marca
      </button>

      <br><br>

      <!-- Modal -->
      <div class="modal fade" id="modalAltaMarca" tabindex="-1" aria-labelledby="modalAltaMarca" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <p id="modalAltaMarcaTitle">Registrar Marca</p>
              <button type="button" class="btn btn-danger btn_custom" data-bs-dismiss="modal">
                <i class="fas fa-xmark"></i>
              </button>
            </div>

            <div class="modal-body">
              <div *ngIf="mensajeExito"class="alert alert-success" role="alert">
                {{mensajeExito}}
              </div>
              <div *ngIf="mensajeError" class="alert alert-danger" role="alert">
                {{mensajeError}}
              </div>
              <form [formGroup]="marcaForm" class="row g-3">
                <div class="col-md-12">
                  <label for="inputNombreMarca" class="form-label">Nombre del marca</label>
                  <input type="email" formControlName="nombreMarca" class="form-control" id="inputNombreMarca"
                    required>
                </div>
                <div class="col-md-12">
                  <label for="inputDescripcionMarca" class="form-label">Descripcion del marca</label>
                  <textarea type="text" maxlength="350" formControlName="descripcionMarca" class="form-control"
                    id="inputDescripcionMarca" required></textarea>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="descartarCambio()">Close</button>
              <button type="submit" class="btn btn-primary" (click)="altaMarca()" *ngIf="!isActualizacion">Registrar
                marca</button>
              <button type="submit" class="btn btn-primary" (click)="actualizarRegistro()"
                *ngIf="isActualizacion">Actualizar marca</button>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <!-- Paginación -->
        <div class="col-md-5 justify-content-start">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"></mat-paginator>
        </div>

        <div class="col-md-3 offset-md-4">
          <form [formGroup]="busquedaForm">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar marca" formControlName="search"
                required>
              <button class="btn btn-outline-secondary" type="button" (click)="buscarMarca()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="table table-light table-hover">

          <!-- Definición de columnas -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaRegistro">
            <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_registro | date:'dd/MM/yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
              <div class="action-buttons">
                <button mat-icon-button color="accent" data-bs-toggle="modal" data-bs-target="#modalAltaMarca"
                  (click)="editarMarca(element)">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarMarca(element)">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <!-- Cabeceras de la tabla -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
  </div>
</div>